@import url('normalize.css');

/* Font Snippet will be removed soon.
div { font-family:"Din Display Pro Thin", Verdana, sans-serif; font-size-adjust:0.49; font-weight:100; font-style:normal; }
div { font-family:"Din Display Pro Bold", Verdana, sans-serif; font-size-adjust:0.5; font-weight:bold; font-style:normal; }
div { font-family:"Din Display Pro Regular", Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal; }
*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
	font-size: 12px;
	color: #000;
	overflow-y: hidden;
	overflow-x: hidden;
}
/* Base Typography */
h1{
	font-size: 36px;
	font-family:"Din Display Pro Bold", Verdana, sans-serif; 
	font-size-adjust:0.5; 
	font-weight:bold; 
	font-style:normal;
}
h2{
	font-size: 30px;
	font-family:"Din Display Pro Bold", Verdana, sans-serif; 
	font-size-adjust:0.5; 
	font-weight:bold; 
	font-style:normal;
}
h3{
	font-size: 24px;
	font-family:"Din Display Pro Bold", Verdana, sans-serif; 
	font-size-adjust:0.5; 
	font-weight:bold; 
	font-style:normal;
}
h4{
 	font-size: 18px;
 	font-family:"Din Display Pro Regular", Verdana, sans-serif; 
 	font-size-adjust:0.5; 
 	font-weight:normal; 
 	font-style:normal;
}
h5{
 	font-size: 12px;
 	font-family:"Din Display Pro Regular", Verdana, sans-serif; 
 	font-size-adjust:0.5; 
 	font-weight:normal; 
 	font-style:normal;
}
h6{
	font-size: 6px;
	font-family:"Din Display Pro Regular", Verdana, sans-serif; 
 	font-size-adjust:0.5; 
 	font-weight:normal; 
 	font-style:normal;
}
a{
	color: #788b94;
	text-decoration: none;
}
a:hover{
	color: #00adee;
}
.active, .hover { 
	color: #00adee;
}

/*---------- Sidebar Style ----------*/

.av-menu {
	position: fixed;
	left: 0;
	z-index: 100;
	width: 100px;
	top: 0px;
	height: 100%;
	background: #171d25;
}
.av-menu .logo{
	height: 26px;
	width: 36px;
	margin: 0 auto;
	padding: 30px 0;
}
.av-menu nav{
	padding: 20px 0px;
}
.av-menu nav ul{
	list-style-type: none;
	display: table;
	width: inherit;
	margin: 0 auto;
}
.av-menu nav ul li{
	margin-bottom: 20px;
	display: block;
   	text-align: center;
}
.av-menu nav ul li span{
	text-transform: uppercase;
	font-size: 10px;
	display: block;
	margin: 0 auto;
	line-height: 25px;
}
.av-menu nav ul li:first-child{
	margin-bottom: 10px;
	line-height: 5px;
}
.av-menu nav ul li:nth-child(3){
	margin-bottom: 150px;
}
.av-menu nav ul li:nth-child(6){
	font-size: 15px;
	font-weight: bold;
	/*-90 degrees rotation for the text on the 6th child*/
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}
.av-menu nav ul li:nth-child(n+4){
	line-height: 30px;
}
.av-menu nav ul li:last-child{
	margin-top: 30px;
}
.av-menu nav ul li .iconic *{
	fill: #788b94;
	stroke: #788b94;
}
.av-menu nav ul li a:hover .iconic *{
	fill: #00adee;
	stroke:#00adee;
}

/*---------- Size of the iconic ----------*/
.av-menu nav ul li .iconic-graph{
	height: 50px;
	width: 50px;
}
.av-menu nav ul li .iconic-audio{
	height: 40px;
	width: 40px;	
}
.av-menu nav ul li .iconic-beaker{
	height: 35px;
	width: 35px;	
}
.av-menu nav ul li .iconic-cogs, .av-menu nav ul li .iconic-question-mark{
	height: 25px;
	width: 25px;	
}

/*---------- Signup Section ----------*/
.av-content{
	margin-left: 100px;	

}
.av-content-inner {
	text-align: center;
	margin-top: 25%;
	height: 250px;
}
.av-content-inner h2 {
	color: white;
	font-size: 36px;
	margin-bottom: 20px;
}
.av-content-inner input[type=text] {
	width: 300px;
	height: 36px;
	padding: 10px;
	font-family:"Din Display Pro Regular", Verdana, sans-serif; 
 	font-size-adjust:0.5; 
 	font-weight:normal; 
 	font-style:normal;
 	font-size: 14px;
 	margin-bottom: 10px;	
 	border: 1px solid #134b77; /* Fallback */
    border: 1px solid rgba(19,75,119, 0.8);
	-webkit-box-shadow:inset 0 0 1px #212121;
    -moz-box-shadow:inset 0 0 1px #212121;
    box-shadow:inset 0 0 1px #212121;
}
.av-content-inner input[type=submit] {
	margin-top: 20px;
	width: 145px;
	height: 30px;
	border: medium none;
	background: #134b77;
	color: white;
	font-family:"Din Display Pro Bold", Verdana, sans-serif; 
 	font-size-adjust:0.5; 
 	font-weight:normal; 
 	font-style:normal;
 	font-size: 14px;
 	text-transform: uppercase;
}
.av-content-inner input[type=submit]:hover {
	background: #083253;
}